@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');


.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);/*originally -400%*/
  }
  

  .home_text{
    font-family: 'Nova Square', cursive;
    
    font-size: 4vw;
        color: silver;
        display: block; 
        transition: opacity 4s linear;
    }

  

    #textfadeout
  {
    transition: opacity 2s linear;
  }
    
    @-webkit-keyframes flickerAnimation{
      0%   { opacity: 1}
      50%  { opacity: 0.3 }
      100% {opacity:1}
    }

    .flicker{
      animation: flickerAnimation 2s infinite ease-in-out;
    }
    .fadein {
      opacity: 0.45 !important;
    }
    .fadeout{
      opacity:0;
    }

   I .background{
        background-image: url("../static/background1.png");
        width:100%;
        height:100%;
        background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
    }

    #blackscreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 1);
    transition: opacity 4s ease-in 2s;
}

      
      @-webkit-keyframes flickerPicture{
        0%   { background-image:url("../img/background1.png");
          background-size:cover;
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
      
        }
          
          16%   { background-image:url("../img/background1.png");
            background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
       
            }
        32%  { background-image:url("../img/background1.2.png");
          background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
      
          }
          48%  { background-image:url("../img/background1.8.png");
            background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
       }
             50%  { background-image:url("../img/background2.png");
              background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;}

        52%  { background-image:url("../img/background1.8.png");
          background-size: cover; 
      margin: 0; 
      padding: 0; 
      overflow: hidden;
      background-repeat: no-repeat;
        }
        68%  { background-image:url("../img/background1.2.png");
          background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;
             }
        84%   { background-image:url("../img/background1.png");
          background-size: cover; 
          margin: 0; 
          padding: 0; 
          overflow: hidden;
          background-repeat: no-repeat;}
        100%   { background-image:url("../img/background1.png");
        background-size: cover; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
        background-repeat: no-repeat;}
        }
      
      .picture-flicker {
          animation: flickerPicture 1s infinite; 
          animation-direction: ease-in-out;
          animation-delay: 2s;
      }
      .navbardiv{ 
        position: relative; 
        top:-80px;
        transition: all 2s ease-out;
        margin:0px;
        padding: 0px;
      }
      .nav{
        overflow: hidden;
        position: absolute; 
        transition: all 2s ease-out;
      }
      .navbar{
        color:#404040;
      }
  
      .navbar-brand
      {
        font-family: 'Rajdhani', sans-serif;
        color: #464646;
        font-size: 40px;
        margin: 0px;
        padding:0px
      }

    .wholescreen
    {
      position:absolute;
       top:0%; left:0%;
        width:100%;
         height:100%}
      
      .navappear{
        top:0px !important;
      }

      .nav-item{
        font-family: 'Rajdhani', sans-serif;
        color:grey!important;
        font-size: 30px;
        margin: 0px;
        padding:0px
      }
      .navbar-nav{
        margin: 0px;
        padding:0px;
      }
     
      
      .navbar a {
        color: grey;
          }
          .navbar a:hover {
            color:rgba(168, 230, 245, 0.979);
              }

      .props{
        font-family: 'Major Mono Display', monospace;
          position: absolute;
          top:50px;
          width: 65%;
          height: 100px;
          right:0px;
          color:#DDDDDD;
          opacity: 0.6;
          font-weight: 900;
          visibility:hidden;
          
        }
      
      
      .big{
        font-size: 125px;
       height: 140px;
       padding: 0px;
       margin: 0px;

      }
      .small{
        position: relative;
        height:30%;
        font-size: 30px;
        width: 100%;
        padding: 2px;
        margin-left: 10px;
      }
     

      .propstwo{
        font-family: 'Major Mono Display', monospace;
          position: absolute;
          top:50px;
          width: 60%;
          height: 100px;
          right:40%;
          color:#DDDDDD;
          opacity: 0.6;
          font-weight: 900;
          visibility:hidden;
        }

        .bigtwo{
          font-size: 125px;
         height: 140px;
         padding: 0px;
         margin: 0px;
         opacity:0.8;
  
        }
        .smalltwo{
          font-family: 'Rajdhani', sans-serif;
          position: relative;
          height:30%;
          font-size: 30px;
          width: 100%;
          padding: 0px;
          margin-top:10px;
          margin-left: 5px;
          opacity:0.8;
        }
        .appear{
          visibility: visible;
        }
        
        
     
    
