@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    overflow: hidden;
    margin: 0;
}

.ui {
    background-color: #444;
    opacity: 0.9;
    position: absolute;
    right: 0px;
    top: 0px;
    min-width: 300px;
    max-width:300px;
    height: 100%;
    width:30%;
}
.accordian{
    width:100%;
    border:0px;
    outline:  none;
    background-color: #AAAAAA;
    font-size: 30px;
    font-family: 'Nova Square', cursive;  
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    transition: background-color 0.2s linear;
    cursor:pointer;
    border: 0.5px solid black;
    opacity: 0.9;
}

button.accordian:hover {
    background-color: #DDDDDD;
}
.accordian-content{
    width: 100%;
    font-family: 'Nova Square', cursive;  
    font-family: 'Major Mono Display', monospace;
    font-size: 20px; 
    color: #DDDDDD;
    max-height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.2s ease-in-out;
    padding-left:0px;
    padding-right:0px;
    opacity: 0.9;
}

.mapimg{
    height:296px;
    width:300px;
    position: relative;
}

table {
    width: 100%;
    
  }

td.button{
    background-color: #000;
    padding:4px;
    width:30px;
    height: 28px;
    position:relative;
    z-index:2;
}

td.trash{
    background-color: #000;
    padding:4px;
    width:30px;
    height: 28px;
    position:relative;
    z-index:2;
    cursor:pointer;
}

td.trash:hover{
    background-color: rgb(211, 51, 51);
}

td.nodesong:hover{
    background-color: #2c7394;
    cursor:default;
}
tr.songrow:hover > td.song{
    background-color: #2c7394;
    cursor:pointer;
}

tr.nodesongrow:hover{
    background-color: #2c7394;
}

tr.songrow:hover > td.button{
    background-color: #2c7394;
    cursor:pointer;
}

.addCollection:hover{
    background-color: #2c7394;
    cursor:pointer;
}

tr.songrow{
    background-color: black;
}
tr.nodesongrow{
    background-color: black;
}


td.song{
    
    height: 28px;
    background-color: black;
    white-space: nowrap;
    position: relative;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: #CCC;
    padding-left: 2px;
    padding-top:3px;
    padding-bottom:3px;
    z-index:1;
  }

  td.nodesong{
    width: 300px;
    height: 28px;
    background-color: black;
    white-space: nowrap;
    position: relative;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: #CCC;
    padding-left: 4px;
    padding-top:3px;
    padding-bottom:3px;
    z-index:1;
  }


  td.song span {
    position: absolute;
    white-space: nowrap;
  }

   td.song:hover{
    animation: sidescroll 8s linear infinite;
  }

  td.nodesong:hover{
    animation: sidescroll 8s linear infinite;
  }

  ::-webkit-scrollbar {
  width: 0px;
}
.scroll-width-none {
    scrollbar-width: none;
  }
  @keyframes sidescroll {
    0% {
        transform: translateX(0);
    }

    100% { 
        transform: translateX(-100%);
    }
  }


.addCollection{
    background-color: rgb(48, 17, 73);
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Nova Square', cursive;  
    color: #CCC;
    position:sticky;
    bottom: 0px;
    padding:0px;
    margin:0px;
    border-top:3px solid rgb(136, 136, 136);
    
}

.musicplayer{
    position:fixed;
    bottom:0px ;
    height: 90px;
    background-color: rgb(7, 2, 24);
    opacity: 1!important;
    width:100%;
    border-top:3px solid rgb(136, 136, 136);
    overflow:hidden;
}
.slidecontainer{
    height:23px;
    width: 300px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; 
    height: 10px; 
    background: #d3d3d3; 
    outline: none; 
    padding:1px;
    border:0px;
    border: 1px solid rgb(15, 4, 49);
    overflow: hidden;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    box-shadow: -100vw 0 0 100vw rgb(65, 28, 153);
    width: 1px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #000; /* Green background */
  }
  
  .slider::-moz-range-thumb {
    -moz-appearance: none; /* Override default look */
    appearance: none;
    box-shadow: -100vw 0 0 100vw rgb(65, 28, 153);
    width: 1px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #000; /* Green background */
  }

  .nowPlaying{
    
    height: 28px;
    position:absolute;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: #CCC;
    padding-left: 0px;
    margin:0px;
    bottom:7px;
    left: 80px;
    
    
    animation: sidescroll 12s linear infinite;
    z-index: -1;
  }
  .nowPlayingSign{
    width: 73px;
    height:35px;
    
    position:relative;
    font-size: 20px;
    font-family: 'Nova Square', cursive;
    color: #CCC;
    margin-bottom: 10px;
    padding-bottom:12px;
    padding-left:3px;
    background-color: rgb(6, 0, 10);
  } 
  #skip{
    width: 65px;
    height:32px;
    position:relative;
    font-size: 20px;
    font-family: 'Nova Square', cursive;
    color: #CCC;
    padding-top:1px;
    padding-left:3px;
    background-color: rgb(58, 20, 88);
    border: 1px;
    opacity: 0.8;
    } 

    #skip:hover{
        cursor:pointer;
        background-color: rgb(117, 4, 38)
    }

.addbutton{
    display: inline-block; 
    width:70px;
    margin:0px;
}


.loadingScreen{
    width: 100%;
    height: 100%;
    top: 0px;left: 0px;
    position: fixed;
    display: block;
    background-color:#000;
}

.preloader-1 {
    position: absolute;
    top: 42%;
    left: 35.4%;
    width: 140px;
    height: 12px;
  }

  .preloader-1 .line {
    width: 4px;
    height: 28px;
    background: #FFF;
    margin: 0 3px;
    display: inline-block;
    animation: opacity-1 1000ms infinite ease-in-out;
  }
  .loading {
    position: absolute;
    top: 45%;
    left: 35%;
    color: #fff;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nova Square', cursive;
    font-size: 30px;
    letter-spacing: 2px;
  }

.preloader-1 .line-1{ animation-delay: 800ms; }
.preloader-1 .line-2{ animation-delay: 600ms; }
.preloader-1 .line-3{  animation-delay: 400ms; }
.preloader-1 .line-4  { animation-delay: 200ms; }
.preloader-1 .line-6  { animation-delay: 200ms; }
.preloader-1 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8  { animation-delay: 600ms; }
.preloader-1 .line-9  { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}
                                                                                                                                                                                                            
.volumeicon{
    opacity: 0.8;
    color: white;
    width: 30px;
    height: 20px;
    padding-left: 5px;
}

.volumeContainer{
    width: 230px;
    height: 30px;
    display: inline-block;
}
.volume{
    position: absolute;
    top: 15px;
    left:105px;
    width: 180px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: rgb(184, 203, 211); 
    outline: none; 
    height: 4px;
    border: 1px solid rgb(4, 36, 49);

}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius:50%;
    width: 13px; /* Set a specific slider handle width */
    height: 13px; /* Slider handle height */
    background: rgb(47, 141, 175); /* Green background */
    border:0px solid rgb(36, 79, 172);
  }
  
  .volume::-moz-range-thumb {
    -moz-appearance: none; /* Override default look */
    appearance: none;
    
    width: 1px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #000; /* Green background */
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #e2e2e2d7;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #7b04aa;
color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
padding: 2px 16px;
background-color: #5cb85c;
color: white;
}
#helpbtncontainer{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#helpbtn{
    color: #BBBBBB;
  }
#helpbtn:hover{
    cursor: pointer;
    color: rgb(43, 160, 206)
  }

#lightbtncontainer{
    position: absolute;
    bottom: 10px;
    left:50px;
}
#lightbtn{
    color: #BBBBBB;
  }
#lightbtn:hover{
    cursor: pointer;
    color: rgb(43, 160, 206)!important;
  }
  