@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');


.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);/*originally -400%*/
  }
  

.home_text {
  font-family: 'Nova Square', cursive;    
  font-size: 4vw;
      color: silver;
      display: block; 
      transition: opacity 4s linear;
  }
   
#textfadeout {
  transition: opacity 2s linear;
}
    
@-webkit-keyframes flickerAnimation {
  0%   { opacity: 1}
  50%  { opacity: 0.3 }
  100% {opacity:1}
  }

.flicker {
  animation: flickerAnimation 2s infinite ease-in-out;
}
.fadein {
  opacity: 0.45;
}
.fadeout {
  opacity:0;
}

#blackscreen {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 1);
  transition: opacity 4s ease-in 2s;
}
     
@-webkit-keyframes flickerPicture {
  0%   { 
    background-image:url("../img/background1.png");
    background-size:cover;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  12%   { 
    background-image:url("../img/background1.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  27%  { 
    background-image:url("../img/background1.2.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  42%  { 
    background-image:url("../img/background1.8.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }
  50%  { background-image:url("../img/background2.png");
  background-size: cover; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  background-repeat: no-repeat;}

  58%  { 
    background-image:url("../img/background1.8.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  73%  { 
    background-image:url("../img/background1.2.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  89%   { 
    background-image:url("../img/background1.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }

  100%   { 
    background-image:url("../img/background1.png");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-repeat: no-repeat;
  }
}

.picture-flicker {
  animation: flickerPicture 0.7s infinite; 
  animation-timing-function: ease-in-out;
  animation-delay: 2.3s;
}

.background {
  width:100%;
  height:100%;
  background-size: cover; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/background2.png");
  }


.navbardiv { 
  position: relative; 
  top:-80px;
  transition: all 2s ease-out;
  margin:0px;
  padding: 0px;
}

.nav {
  overflow: hidden;
  position: absolute; 
  transition: all 2s ease-out;
}

.navbar {
  color:#404040;
}

.navbar-brand {
  font-family: 'Rajdhani', sans-serif;
  color: #464646;
  font-size: 40px;
  margin: 0px;
  padding:0px
}

.wholescreen {
  position:absolute;
  top:0%; left:0%;
  width:100%;
  height:100%
}

.navappear {
  top:0px !important;
}

.nav-item {
  font-family: 'Rajdhani', sans-serif;
  color:grey!important;
  font-size: 30px;
  margin: 0px;
  padding:0px
}

.navbar-nav {
  margin: 0px;
  padding:0px;
}

.navbar a {
  color: grey;
}

.navbar a:hover {
  color:rgba(168, 230, 245, 0.979) !important;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
color:  rgba(168, 230, 245, 0.979) ;
}

.props {
  font-family: 'Major Mono Display', monospace;
  position: absolute;
  top:50px;
  width: 65%;
  height: 100px;
  right:0px;
  color:#DDDDDD;
  opacity: 0.6;
  font-weight: 900;
  visibility:hidden;
}

.big {
  font-size: 125px;
  height: 140px;
  padding: 0px;
  margin: 0px;
}

.small {
  position: relative;
  height:30%;
  font-size: 30px;
  width: 100%;
  padding: 2px;
  margin-left: 10px;
}

.propstwo {
  font-family: 'Major Mono Display', monospace;
  position: absolute;
  top:50px;
  width: 60%;
  height: 100px;
  right:40%;
  color:#DDDDDD;
  opacity: 0.6;
  font-weight: 900;
  visibility:hidden;
}

.bigtwo {
  font-size: 125px;
  height: 140px;
  padding: 0px;
  margin-left: 30px;
  opacity:0.8;
}

.smalltwo {
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  height:30%;
  font-size: 30px;
  width: 100%;
  padding: 0px;
  margin-top:10px;
  margin-left: 30px;
  opacity:0.8;
}

.propsthree {
  font-family: 'Major Mono Display', monospace;
  position: absolute;
  top:50px;
  width: 70%;
  height: 100px;
  right:0%;
  color:#DDDDDD;
  opacity: 0.7;
  font-weight: 900;
  visibility:hidden;
  text-align: right;
  margin-right: 30px;
}

.bigthree {
  font-size: 125px;
  height: 140px;
  padding: 0px;
  opacity:0.8;
  text-align: right;
}

.smallthree {
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  height:30%;
  font-size: 30px;
  width: 100%;
  padding: 0px;
  margin-top:50px;
  margin-right:10px;
  opacity:0.8;
}

.inputboxone {
  position: absolute;
  right: 5px;
  width: 30%;
  top: 45px;
  background-color: #444444;
  opacity: 1.0;
  border: 0px #222222;
  color: #DDDDDD;
}

.pwlabel {
  position: absolute;
  right: 5px;
  width: 30%;
  top: 90px;
}

.inputboxtwo {
  position: absolute;
  right: 0px;
  top: 45px;
  background-color: #444444;
  opacity: 1.0;
  border: 0px #222222;
  color: #DDDDDD;
}

.pwlabel2 {
  position: absolute;
  right: 5px;
  width: 30%;
  top: 180px;
}

.inputboxthree {
  position: absolute;
  right: 0px;
  top: 50px;
  background-color: #444444;
  opacity: 1.0;
  border: 0px #222222;
  color: #DDDDDD;
}

input[type="email"]::placeholder { 
  color:#999;
}

input[type="password"]::placeholder { 
  color:#999;
}

input[type="text"]::placeholder { 
  color:#999;
}

input[type="email"]:focus {
  background-color: #2a4e7e; 
  color: #EEEEEE;
}

input[type="username"]:focus {
  background-color: #2a4e7e; 
  color: #EEEEEE;
}

input[type="password"]:focus {
  background-color: #2a4e7e;  
  color: #EEEEEE;   
}

.signin {
  background-color: #2a4e7e; 
  position:absolute;
  top: 600%;
  right: 10px;
  font-size: 20px;
  padding-top: 2px;
  padding-bottom:0px;
}

.signin2 {
  background-color: #2a4e7e; 
  position:absolute;
  top: 915%;
  right: 10px;
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: rgba(0, 0, 0, 0);}



  @media (max-width: 1200px)  {
    .navbar-collapse {
      background-color: rgba(33, 33, 33, 0.95);
      border-color: rgba(60,60,80,1);
      margin:0px;
      padding:0px;
      }
 }

.appear {
visibility: visible;
}


.loginerror{
  bottom: 43%;
  position: absolute;
  right:36px;
  font-family: 'Major Mono Display', monospace;
  color:rgb(201, 62, 62);
  opacity: 1;
  font-weight: 900;
  visibility:hidden;
  text-align: right;
  font-weight: 1000;
  
}
     
    
