<!DOCTYPE html>
<html>
	<style>
		body {
			overflow: hidden;
			margin: 0;
		}
		.ui {
			background-color: white;
			position: absolute;
		    display: block;
		    z-index: 99;
		    left: 80%;
		    top: 10%;
			min-width: 100px;
			min-height: 500px;
		}
	</style>
	<head>
		<meta charset=utf-8>
		<title>rEEEEEEEEEEE</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body scroll="no" style="overflow: hidden">
	</body>
	<div id="game"></div>
	<div class="ui">
		<span id="name">name</span>
	</div>
	<iframe id="existing-iframe-example"
        width="640" height="360"
        src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1"
        frameborder="0"
        style="border: solid 4px #37474F"></iframe>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<audio id="youtube" autoplay controls loop></audio>
	<script src="static/js/mousetrap.min.js"></script>
	<script src="static/js/three.js"></script>
	<script src="static/js/helpers.js"></script>
	<script src="static/js/main.js"></script>
</html>
